################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HealthManagement/FileContentIndex/4ff434e2-8d74-4f26-b1c6-268181202ed9.vsidx
/.vs/HealthManagement/FileContentIndex/6d7004b7-f746-4e94-bc82-ee2564fa4881.vsidx
/.vs/HealthManagement/FileContentIndex/f2193a1c-a4e6-4f6e-9b7e-f9f24e392b5a.vsidx
/.vs/HealthManagement/FileContentIndex/7ccba82c-0895-4c4f-8b4f-1d03d2f4243e.vsidx
/.vs/HealthManagement/FileContentIndex/d3122cec-b084-4495-b5f4-b366be69bf29.vsidx
/.vs/HealthManagement/FileContentIndex/78614be1-f9c1-41fb-826b-bf5bca3af3a1.vsidx
